{
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "es5",
    "printWidth": 120,
    "bracketSpacing": false,
    "arrowParens": "always",
    "endOfLine": "lf",
    "htmlWhitespaceSensitivity": "strict",
    "overrides": [
        {
            "files": "*.scss",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
