#wps-login-sms {
    font-family: tahoma;
    font-size: 12px;
    direction: rtl;
}

#wps-login-sms .alert-box {
    font-family: tahoma;
}

#wps-login-sms .input, #wps-login-sms textarea {
    font-family: tahoma;
}

#wps-login-sms .button {
    font-family: tahoma;
}

#wps-otp {
    font-family: tahoma;
    direction: rtl;
}

#wps-otp .alert-box {
    font-family: tahoma;
}

#wps-otp .input, #wps-otp textarea {
    font-family: tahoma;
}

#wps-otp .button {
    font-family: tahoma;
}